---
import { SITE, SOCIAL_LINKS, POSTS_CONFIG, PROJECTS_CONFIG, EDUCATION_CONFIG } from '~/config'
import Layout from '~/layouts/Layout.astro'
import SectionDivider from '~/components/base/SectionDivider.astro'
import SocialLink from '~/components/base/SocialLink.astro'
import List from '~/components/posts/card/List.astro'
import { getNumPosts, getPinnedPosts, getNumProjects, getNumEducation } from '~/lib/data'
import type { CollectionEntry } from 'astro:content'

const { size, type } = POSTS_CONFIG.homePageConfig

let showPosts: CollectionEntry<'posts'>[]
const pinnedPosts = await getPinnedPosts()
const hasPinnedPosts = pinnedPosts.length > 0
if (hasPinnedPosts) {
  showPosts = pinnedPosts
} else {
  showPosts = await getNumPosts(size)
}

const latestProjects = await getNumProjects(PROJECTS_CONFIG.homePageConfig.size)
const latestEducation = await getNumEducation(1)
---

<Layout title="Home" description={SITE.description}>
  <div class="relative z-[1]">
    <div class="fade-up">
      <div class="py-8 pb-10 px-6 sm:px-8">
        <h1 class="flex flex-col gap-2 mb-2">
          <span class="text-4xl sm:text-5xl tracking-tight"> Vladlen Oleksiuk </span>
          <span class="text-muted-foreground font-light text-lg sm:text-xl block tracking-wide text-balance"> Backend Developer </span>
        </h1>

        <a
          href="https://github.com/vlolek"
          target="_blank"
          class="flex gap-2 items-center justify-between px-3 py-1 rounded-sm border border-border/50 hover:bg-accent hover:text-primary transition-all duration-300 mb-4"
        >
          <span class="flex gap-2">
            <span class="icon-[mdi--github] size-5"></span>
            <span class="block tracking-wide text-balance align-baseline flex items-center gap-1"> GitHub </span>
          </span>
          <span class="text-sm icon-[mdi--arrow-right] size-5"></span>
        </a>

        <!-- <div class="pro text-muted-foreground text-pretty">
          <p>Studio, per ora, python.</p>
        </div> -->

        <!-- Lista dei link ai social, al momento sostituita con un pulsante per github. -->

        <!-- <div class="mt-6 flex gap-6">
          {
            SOCIAL_LINKS.map((item) => {
              return (
                <SocialLink href={item.url} icon={item.icon} aria-label={`Link of ${item.name}`} count={item.count} label="followers" />
              )
            })
          }
        </div> -->
        <SectionDivider />
        <div class="py-8 pb-10">
          <h2 class="text-2xl sm:text-3xl tracking-tight">Ultimi articoli</h2>
          <p class="text-muted-foreground mb-6 mt-1">
            {showPosts.length} articoli
            {hasPinnedPosts ? `In evidenza` : 'recenti'}.
          </p>
          <List posts={showPosts} {type} coverLayout={POSTS_CONFIG.homePageConfig?.coverLayout} />
        </div>
        {
          latestProjects.length > 0 && (
            <>
              <SectionDivider />
              <div class="py-8 pb-10">
                <h2 class="text-2xl sm:text-3xl tracking-tight">Ultimi progetti</h2>
                <p class="text-muted-foreground mb-6 mt-1">
                  {latestProjects.length}
                  {latestProjects.length > 1 ? ' progetti recenti' : ' progetto recente'}.
                </p>
                <List
                  posts={latestProjects}
                  type={PROJECTS_CONFIG.homePageConfig.type}
                  coverLayout={PROJECTS_CONFIG.homePageConfig?.coverLayout}
                  baseUrl="/projects"
                />
              </div>
            </>
          )
        }
        {
          latestEducation.length > 0 && (
            <>
              <SectionDivider />
              <div class="py-8 pb-10">
                <h2 class="text-2xl sm:text-3xl tracking-tight">Formazione recente</h2>
                <p class="text-muted-foreground mb-6 mt-1">
                  {latestEducation.length}
                  {latestEducation.length > 1 ? 'appunti di formazione recenti' : 'appunto di formazione recente'}.
                </p>
                <List posts={latestEducation} {type} coverLayout={POSTS_CONFIG.homePageConfig?.coverLayout} baseUrl="/education" />
              </div>
            </>
          )
        }
      </div>
    </div>
  </div>
</Layout>
